.skeleton {
    background-color: #E0E0E0;
    background-image: linear-gradient(90deg,
            #E0E0E0 0px,
            #F0F0F0 40px,
            #E0E0E0 80px);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite linear;
}

[data-theme='dark'] .skeleton {
    background-color: rgba(255, 255, 255, 0.05);
    background-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.1) 40px,
            rgba(255, 255, 255, 0.05) 80px);
}

@keyframes skeleton-loading {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: calc(200px + 100%) 0;
    }
}